<p id="notice"><%= notice %></p>

<h1>Listing Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= link_to 'View Resources', cookbook_recipe_resources_path(recipe_id: recipe.id, cookbook_id: @cookbook.id) %></td>
        <td><%= link_to 'Show', cookbook_recipe_url(id: recipe.id, cookbook_id: @cookbook.id) %></td>
        <td><%= link_to 'Edit', edit_cookbook_recipe_path(id: recipe.id, cookbook_id: @cookbook.id) %></td>
        <td><%= link_to 'Destroy', [@cookbook, recipe], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Recipe', new_cookbook_recipe_path(cookbook_id: @cookbook.id) %>

<br> <hr>

<%= link_to 'Back', cookbooks_path %>
