<p id="notice"><%= notice %></p>

<h1>Listing Resources</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Resource Type</th>
      <th>Position</th>
      <th>Properties</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.resource_type %></td>
        <td><%= resource.position %></td>
        <td><%= resource.properties %></td>
        <td><%= resource.actions %></td>
        <td><%= link_to 'Show', cookbook_recipe_resource_url(id: resource.id, recipe_id: @recipe.id, cookbook_id: @cookbook.id), class: "btn btn-sm btn-primary" %></td>
        <td><%= link_to 'Edit', edit_cookbook_recipe_resource_path(id: resource.id, recipe_id: @recipe.id, cookbook_id: @cookbook.id), class: "btn btn-sm btn-primary" %></td>
        <td><%= link_to 'Destroy', [@cookbook, @recipe, resource], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Resource', new_cookbook_recipe_resource_path, class: "btn btn-sm btn-primary" %>

<br>
<hr>

<%= link_to 'Back', cookbook_recipes_url(cookbook_id: @cookbook.id) %>
