<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Resource type:</strong>
  <%= @resource.resource_type %>
</p>

<p>
  <strong>Properties:</strong>
  <%= @resource.properties %>
</p>

<p>
  <strong>Actions:</strong>
  <%= @resource.actions %>
</p>

<%= link_to 'Edit', edit_cookbook_recipe_resource_path(cookbook_id: @cookbook.id, recipe_id: @resource.recipe_id), method: :get, class: "btn btn-sm btn-primary" %> |
<%= link_to 'Back', cookbook_recipe_resources_path, class: "btn btn-sm btn-primary" %>
