<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render(partial: 'layouts/top_nav') %>

<div id="cookbook_nav">
<%= render 'cookbook_nav' %>
</div>

<div class="main_content">
    <%= yield %>
</div>

<footer>2016 IBM, INC. All Rights Reserved.</footer>
</body>
</html>
